.container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.chat-container {
  padding: 20px 0;
  margin-bottom: 20px;
  overflow-y: auto;
  height: 70vh; /* Set height to 100% of viewport height */
}

.chat-message h1 {
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 40px;
  padding: 10px 0;
  font-weight: 800;
}

.chat-message p {
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 20px 10px;
}

.user-message {
  background-color: #f1f1f1;
  color: black;
  border-radius: 10px;
}

.bot-message {}

.message-text {
  margin: 0;
}

.submit-container {
  text-align: center;
}

.input-box {
  position: relative;
}

.input-container {
  position: relative;
}

input {
  width: calc(100% - 40px); /* Adjust width to accommodate the button */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  border: transparent;
  position: relative;
}

input:focus {
  outline: none !important;
  border-color: red;
}

input::placeholder {
  color: #818181;
}

button {
  background-color: #000;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  transform: translate(-40px, 3px);
}

i {
  font-size: 20px;
}

.user-icon{
  background-color: #000;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  position: relative;
  margin: 0 10px; 
}